HEISE_USERNAME=your-email@domain.de
HEISE_PASSWORD=secret-password
APPRISE_URL=https://apprise-host.de/notify/apprise/?tags=heise-scraper
DOWNLOAD_DIR=downloads
SERVER_VOLUME=/xyz/
RUN_ON_STARTUP=FALSE
CRON_SCHEDULE=0 12 * * 6